<!DOCTYPE html>
<html style="overflow-x: hidden;">
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Office Timing - National Database & Registration Authority </title>
 <link href="../static/img/simple.ico" rel="icon">
  <link href="../static/img/simple.ico" rel="apple-touch-icon">

<link rel="stylesheet" type="text/css" href="bootstrap\css\bootstrap.min.css"/>
<script type="text/javascript" src="bootstrap\js\bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/tables.css"/>
</head>



<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-upper" style="opacity: 0.9;">
  <a href="index.html" class="navbar-brand " > <img src="../static/img/nadra_logo.png" alt="Logo" style="width:60px;"></a>


   <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active">Welcome {{session['username'].capitalize()}}!</a>
      </li>
    
    </ul>  
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">     
          <a href="{{ url_for('.index', _anchor='contactUS') }}"><img src="../static/img/email.png" alt="Logo" style="width:4.5vw;margin-left: 30%;margin-top: 0.6vw"></a>
            </li>
            <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../static/img/profile1.png" style="max-width: 2.5vw;max-height: auto"> {{session['username'].capitalize()}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/log-out">Log out</a>
        </div>
      </li>
    </ul>

  </nav>
</header>
<body>


<div>

<nav class="navbar-default navbar-expand-xl bg-dark navbar-dark navbar-static-top navbar-lower">

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item" style="padding-right: 25px; padding-left: 50px;">
      <a class="nav-link" href="userWelcome.html" target="_self">Home</a>
    </li>


     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" href="#" id="Identify" data-toggle="dropdown">
        Identity
      </a>
      <div class="dropdown-menu" labelledby="Identify">
        <a class="dropdown-item" target="_self" href="birthCertificate.html">Birth Certificate</a>
        <a class="dropdown-item" target="_self" href="CNIC.html">ÇNIC</a>
        <a class="dropdown-item" target="_self" href="domicile.html">Domicile</a>
        <a class="dropdown-item" target="_self" href="deathCertificate.html">Death Certificate</a>
      </div>
    </li>

     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Office Timings
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" target="_self" href="officeTimings.html">Lahore</a>
        <a class="dropdown-item" target="_self" href="officeTimings.html">Islamabad</a>
    <a class="dropdown-item" target="_self" href="officeTimings.html">Karachi</a>
    <a class="dropdown-item" target="_self" href="officeTimings.html">Peshawar</a>
        <a class="dropdown-item" target="_self" href="officeTimings.html">Quetta</a>
            <a class="dropdown-item" target="_self" href="officeTimings.html">Multan</a>
                <a class="dropdown-item" target="_self" href="officeTimings.html">Sargodha</a>
                    <a class="dropdown-item" target="_self" href="officeTimings.html">Sukkur</a>
      </div>
    </li>

     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" target="_self" href="{{ url_for('.index', _anchor='projects') }}" id="navbardrop" data-toggle="dropdown">
        Projects
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" target="_self" href="{{ url_for('.index', _anchor='projects') }}">National</a>
        <a class="dropdown-item" target="_self" href="{{ url_for('.index', _anchor='projects') }}">International</a>
      </div>
    </li>
    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="fee.html">Fees</a>
    </li>

    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="{{ url_for('.index', _anchor='aboutUS') }}">About Us</a>
    </li>
    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="{{ url_for('.index', _anchor='contactUS') }}">Contact Us</a>
      </li>
    <li class="nav-item" style="padding-right: 25px;">
        <a class="nav-link" target="_self" href="{{ url_for('.index', _anchor='contactUS') }}">Feedback</a>
      </li>
    </ul>
</nav>
</div>



  <h1 style="text-align: center;font-family: georgia"><b>Offices Timings</b></h1>

<div class="container">
  <h2>Office Timing of Differnet Citites in 24:00 hrs Format.</h2>                                                                                      
  <div class="table-responsive">          
  <table class="table table-hover table-bordered table-striped table-dark">
    <thead>
      <tr class="row">
        <th class="col pl-5">No#</th>
        <th class="col">City Name</th>
        <th class="col">Timing</th>
        <th class="col">Days</th>
        <th class="col">Friday Break</th>
      </tr>
    </thead>
    <tbody>
       <tr class="row">
        <th class="col pl-5">1</th>
        <th class="col">Islamabad</th>
        <th class="col">09:00-09:00</th>
        <th class="col">Monday to Saturday</th>
        <th class="col">13:30-14:30</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">2</th>
        <th class="col">Karachi</th>
        <th class="col">09:00-21:00</th>        
        <th class="col">Monday to Saturday</th>
        <th class="col">13:00-14:00</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">3</th>
        <th class="col">Lahore</th>
        <th class="col">08:00-08:00</th>
                <th class="col">Monday to Saturday</th>
        <th class="col">13:00-14:00</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">4</th>
        <th class="col">Peshawar</th>
        <th class="col">09:00-22:00</th>
        <th class="col">Monday to Saturday</th>
        <th class="col">13:00-14:00</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">5</th>
        <th class="col">Quetta</th>
        <th class="col">08:00-14:30</th>
        <th class="col">Monday to Saturday</th>
        <th class="col">12:30-14:00</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">6</th>
        <th class="col">Multan</th>
        <th class="col">08:30-16:00</th>
        <th class="col">Monday to Friday</th>
        <th class="col">13:00-14:00</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">7</th>
        <th class="col">Sargodha</th>
        <th class="col">08:30-16:00</th>
        <th class="col">Monday to Saturday</th>
        <th class="col">13:30-14:30</th>
      </tr>
             <tr class="row">
        <th class="col pl-5">8</th>
        <th class="col">Sukkur</th>
        <th class="col">08:30-16:30</th>
        <th class="col">Monday to Friday</th>
        <th class="col">13:00-14:00</th>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<br><br>

</body>
<footer style="position: static;">
  <div id="media">
  <nav class="navbar fixed-bottom navbar-expand-sm bg-transparent navbar-dark" >
   <ul class="navbar-nav ml-auto">
            <li class="nav-item">     
          <a href="#" class="fa fa-facebook"></a>
            </li>
            <li class="nav-item">
            <a href="#" class="fa fa-twitter"></a>
            </li>
            <li class="nav-item">
            <a href="#" class="fa fa-google"></a>
            </li>
    </ul>
  </nav>
</div>
</footer>
</html>