<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Update Domicile - National Database & Registration Authority </title>
 <link href="../static/img/simple.ico" rel="icon">
  <link href="../static/img/simple.ico" rel="apple-touch-icon">

<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/forms.css"/>
</head>

<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-upper" style="opacity: 0.9;">
  <a href="index.html" class="navbar-brand " > <img src="../static/img/nadra_logo.png" alt="Logo" style="width:60px;"></a>


   <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active">Welcome Administrator</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../static/img/profile1.png" style="max-width: 2.5vw;max-height: auto"> Administrator </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/log-out">Log out</a>
        </div>
      </li>
    </ul>

  </nav>
</header>
<body>


<div>

<nav class="navbar-default navbar-expand-xl bg-dark navbar-dark navbar-static-top navbar-lower">

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item" style="padding-right: 25px; padding-left: 50px;">
      <a class="nav-link" href="administratorWelcome.html" target="_self">Home</a>
    </li>
    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="AddUser.html">Add User</a>
      </li>
    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/userData">Total Users</a>
      </li>
     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" href="#" id="Identify" data-toggle="dropdown">
        Issue
      </a>
      <div class="dropdown-menu" labelledby="Identify">
        <a class="dropdown-item" target="_self" href="/userForIssueBC">Birth Certificate</a>
        <a class="dropdown-item" target="_self" href="/userForIssueCNIC">ÇNIC</a>
        <a class="dropdown-item" target="_self" href="/userForIssueD">Domicile</a>
        <a class="dropdown-item" target="_self" href="/userForIssueDC">Death Certificate</a>
      </div>
    </li>
     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" href="#" id="Identify" data-toggle="dropdown">
        Update
      </a>
      <div class="dropdown-menu" labelledby="Identify">
        <a class="dropdown-item" target="_self" href="/userForUpdateBC">Birth Certificate</a>
        <a class="dropdown-item" target="_self" href="/userForUpdateCNIC">ÇNIC</a>
        <a class="dropdown-item" target="_self" href="/userForUpdateD">Domicile</a>
        <a class="dropdown-item" target="_self" href="/userForUpdateDC">Death Certificate</a>
      </div>
    </li>
<li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/delete_User">Delete User</a>
      </li>
<li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/viewRecords">View Records</a>
      </li><li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/checkFeedbacks">Check Messages</a>
      </li>
  </ul>
</nav>
</div>

<br><br>

<br>


<div class="container">
<h2 style="text-align: center"><b>Update Domicile</b></h2>
    {% if error %}
<h6 style="color: red"><b>{{ error }}</b></h6>
{% endif %}
  <form action="/updateDomicile" method="POST">

  <h4>Following is the List of All Users.</h4>
  <h6>Please Select a User to Update him/her's Domicile</h6><br>
    <select id="users" name="users" class="selectStyle">
         {% for data in result %}
                 <option value="{{ data[0] }}"><a href=""> {{ data[0] }} - {{ data[1] }} {{ data[2] }} </a></option>
         {% endfor %}
    </select><br><br>



    <div class="col text-center">
    <button type="submit" style="padding: 10px;text-align: center;width: 30%" class="btn btn-success">Update</button>
    </div>

  </form>
  </div>




<script>

$('#cnic').keydown(function(){

  //allow  backspace, tab, ctrl+A, escape, carriage return
  if (event.keyCode == 8 || event.keyCode == 9
                    || event.keyCode == 27 || event.keyCode == 13
                    || (event.keyCode == 65 && event.ctrlKey === true) )
                        return;
  if((event.keyCode < 48 || event.keyCode > 57))
   event.preventDefault();

  var length = $(this).val().length;

  if(length == 5 || length == 13)
   $(this).val($(this).val()+'-');

 });
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>
</html>