<!DOCTYPE html>
<html style="overflow-x: hidden;">
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Death Certificate - National Database & Registration Authority </title>
 <link href="../static/img/simple.ico" rel="icon">
  <link href="../static/img/simple.ico" rel="apple-touch-icon">

<link rel="stylesheet" type="text/css" href="bootstrap\css\bootstrap.min.css"/>
<script type="text/javascript" src="bootstrap\js\bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/domicile.css"/>
</head>

<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-upper" style="opacity: 0.9;">
  <a href="index.html" class="navbar-brand " > <img src="../static/img/nadra_logo.png" alt="Logo" style="width:60px;"></a>


   <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active">Welcome Administrator</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../static/img/profile1.png" style="max-width: 2.5vw; max-height: auto"> Administrator </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/log-out">Log out</a>
        </div>
      </li>
    </ul>

  </nav>
</header>
<body>


<div>

<nav class="navbar-default navbar-expand-xl bg-dark navbar-dark navbar-static-top navbar-lower">

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item" style="padding-right: 25px; padding-left: 50px;">
      <a class="nav-link" href="administratorWelcome.html" target="_self">Home</a>
    </li>
    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="AddUser.html">Add User</a>
      </li>
    <li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/userData">Total Users</a>
      </li>
     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" href="#" id="Identify" data-toggle="dropdown">
        Issue
      </a>
      <div class="dropdown-menu" labelledby="Identify">
        <a class="dropdown-item" target="_self" href="/userForIssueBC">Birth Certificate</a>
        <a class="dropdown-item" target="_self" href="/userForIssueCNIC">ÇNIC</a>
        <a class="dropdown-item" target="_self" href="/userForIssueD">Domicile</a>
        <a class="dropdown-item" target="_self" href="/userForIssueDC">Death Certificate</a>
      </div>
    </li>
     <li class="nav-item dropdown" style="padding-right: 25px;">
      <a class="nav-link dropdown-toggle" href="#" id="Identify" data-toggle="dropdown">
        Update
      </a>
      <div class="dropdown-menu" labelledby="Identify">
        <a class="dropdown-item" target="_self" href="/userForUpdateBC">Birth Certificate</a>
        <a class="dropdown-item" target="_self" href="/userForUpdateCNIC">ÇNIC</a>
        <a class="dropdown-item" target="_self" href="/userForUpdateD">Domicile</a>
        <a class="dropdown-item" target="_self" href="/userForUpdateDC">Death Certificate</a>
      </div>
    </li>
<li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/delete_User">Delete User</a>
      </li>
<li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/viewRecords">View Records</a>
      </li><li class="nav-item" style="padding-right: 25px;">
      <a class="nav-link" target="_self" href="/checkFeedbacks">Check Messages</a>
      </li>
  </ul>
</nav>
</div>

  <div class="container" style="position: relative; margin-top: 150px">
    <form>


    <div class="row">

        <div class="col-25" style="padding-left: 3%">
          <img src="../static/img/logo1.png" style="width:100px; padding-left: 10%">
          </div>

        <div class="col-50" style="padding-left: 10%; padding-top: 3%">
          <h5><b>Undersection of Pakistan Citizenship Rules</b><br>
          Pakistan Citizenship Act. 1945632687 Of 1951
          </h5>
        </div>
      </div>


      <div class="row" style="width: 100%">
        <h2 style="padding-left: 40%"><br><u><b>Death Certificate</b></u></h2>
      </div>

      <div class="row" style="width: 100%; padding-left: 15%; padding-right: 15%; padding-top: 5%;"> 
      <div><h4>Nature of Death: </h4></div>
        <input type="text" value="{{natureOfDeath}}" style="width: 44%;padding-top: 0px;" preadonly>
      </div>

      <div class="row" style="width: 100%; padding-left: 15%; padding-right: 15%; padding-top: 5%;"> 
        <small>
        UNC <input type="text" value="{{unc}}" style="width: 44%" readonly>
         No. <input type="text" value="{{no}}" style="width: 45%" readonly>
        Place <input type="text" value="{{place}}" style="width: 44%" readonly>
         District <input type="text" value="{{district}}" style="width: 42%" readonly>
      </small>
      </div>



      <div class="row" style="padding-top: 3%">
      </div></br>

      <div class="row">
        <div class="col-25">
          <label for="name">Applicant Name</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{applicantName}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="cnic">Applicant CNIC No.</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{applicantCNIC}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="Relation">Relation with Decessed</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{relation}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="dname">Decessed's Name</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{decessedName}}" readonly>
        </div>
      </div>



      <div class="row">
        <div class="col-25">
          <label for="dcnic">Decessed's CNIC No.</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{decessedCNIC}}" readonly>
        </div>
      </div>
      
  <div class="row">
        <div class="col-25">
          <label for="gender">Gender</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{gender}}" readonly>
        </div>
      </div>


  <div class="row">
        <div class="col-25">
          <label for="religion">Religion</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{religion}}" readonly>
        </div>
      </div>

  <div class="row">
        <div class="col-25">
          <label for="fname">Father's Name</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{fatherName}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="fcnic">Father's CNIC No.</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{fatherCNIC}}" readonly>
        </div>
      </div>

       <div class="row">
        <div class="col-25">
          <label for="gname">Graveyard Name</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{graveyardName}}" readonly>
        </div>
      </div>

       <div class="row">
        <div class="col-25">
          <label for="dob">Date of Birth</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{dateOfBirth}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="dod">Date of Death</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{dateOfDeath}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="reason">Reason of Death</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{reasonOfDeath}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="address">Address</label>
        </div>
        <div class="col-75">
          <input type="text" value="{{address}}" readonly>
        </div>
      </div>

      <div class="row">
      <div class="col-25">
        <label for="occupation">Occupation or Trade</label>
      </div>
      <div class="col-75">
        <input type="text" value="{{occupation}}" readonly>
      </div>
    </div>

     <div class="row">
      <div class="col-25">
        <label for="mark">Mark Of Identification</label>
      </div>
      <div class="col-75">
        <input type="text" value="{{markOfIndication}}" readonly>
      </div>
    </div><br>

      <div class="row" style="padding-left: 5%">
        <h5><b>No. </b>{{no}}<br></h5>
      </div><br>

    </form>
  </div>
    <br><br><br>

  </body>


  <footer>
    <div id="media">
    <nav class="navbar fixed-bottom navbar-expand-sm bg-transparent navbar-dark" >
     <ul class="navbar-nav ml-auto">
              <li class="nav-item">     
            <a href="#" class="fa fa-facebook"></a>
              </li>
              <li class="nav-item">
              <a href="#" class="fa fa-twitter"></a>
              </li>
              <li class="nav-item">
              <a href="#" class="fa fa-google"></a>
              </li>
      </ul>
    </nav>
  </div>
  </footer>
  </html>